@font-face {
  font-family: "Pokemon";
  src: local("Pokemon"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff")
      format("woff");
}

.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 16 * 0.0625 = 1px */
  background-color: #ffde00;
  padding-bottom: 20px;
}

.banner {
  font-family: "Pokemon";
  letter-spacing: 2px;
  font-size: 36px;
  width: 100%;
  text-align: center;
  color: #2a3aa3;
}

.error-msg {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 700;
}

.spinner {
  width: 70px;
  height: 70px;
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
